.flashcard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.flashcard {
    perspective: 1000px;
    width: 80vw; /* Use viewport width for responsiveness */
    max-width: 800px; /* Add a max width for larger screens */
    height: 60vh;
    margin-bottom: 5vh;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #f9f9f9;
    transform: rotateY(180deg);
    justify-content: flex-start; /* Align content to the top */
    align-items: stretch; /* Stretch content to fill width */
}

.front-text {
    font-size: 2.5rem;
    font-weight: bold;
}

.reveal-text {
    position: absolute;
    bottom: 1vh;
    font-size: 0.8rem;
    color: #888;
    width: 100vh;
    text-align: center;
    padding-top: 5px; /* Add some space above the text */
    padding-bottom: 15px; /* Add some space below the text */
    background-color: #fff; /* Add a white background */
}

.back-text-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.back-text-word {
    font-size: 1.5rem;
    font-weight: bold;
}

.back-text-translation {
    font-style: italic;
    color: #333;
}

.controls {
    display: flex;
    gap: 10px;
}

.control-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.correct-button {
    background-color: #28a745;
}

.incorrect-button {
    background-color: #dc3545;
}